
<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml" itemscope="itemscope"
      itemtype="http://schema.org/Product">
{% include './includes/head.html' %}

<style>
    body {
        background: none
    }

    html {
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        background: url(../img/background/bg-large.jpg) no-repeat center center fixed;
        background-size: cover;
        min-height:100%;
    }

    .signin {
        max-width: 330px;
        padding: 15px;
        position: relative;
        height: auto;
        /*    box-sizing: border-box;*/
        font-size: 16px;
        margin: 0 auto;
    }
</style>

<body>
<div>
    <div class="signin">
        <a href="/auth/google" ><button class="btn btn-lg btn-primary btn-block">Sign in with Google account</button></a>
    </div>
</div>
</body>
</html>
